!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Riddleschool
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %noscript
      = 'To use this application you must enable JavaScript in your browser. Click '
      %a{href: 'http://activatejavascript.org/', target: :blank}= 'here'
      = ' for instructions.'
    = yield
